<h2>Edit <%= @competition.name%></h2>
  
  <div class="competition-box-index" >
  
    <%= form_for @competition do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <br>
      
    <%= f.label :knockout %>
    <%= f.check_box :knockout %><br>
    <br>
      
    <%= f.label :team_ids, "Team" %>
    <%= f.collection_check_boxes :team_ids, Team.all, :id, :name %>
    <br>
    <br>
      
    <%= f.submit "Update", :class=>"button"%>
    <%end%>

  </div>


  <br>
  <%= button_to 'Back to Competition', competition_path(@competition), :method => :get, :class=>"button"  %>

