<p>
<%= form_tag match_path(@match), method: "patch", name: "edit_match", id: "edit_match" do %>
<% hidden_field_tag :btn_command, "Reset" %>
<%= submit_tag "Reset" %>
<% end %>
</p>


    <p>
    <%= form_tag match_path(@match), method: "patch", name: "edit_match", id: "edit_match" do %>
    <% hidden_field_tag :btn_command, "Play" %>
    <%= submit_tag "Play" %>
    <% end %>
    </p>

<% if @match.home_goals %>

    <p>
    <% if @match.home_goals > @match.away_goals %>
        <%= @match.home_team.name %> 
        wins
        <%= @match.home_goals %>
        to
        <%= @match.away_goals %>

    <% elsif @match.home_goals < @match.away_goals %>
        <%= @match.away_team.name %> 
        wins
        <%= @match.away_goals %>
        to
        <%= @match.home_goals %>
                
    <% else %>
        Its a draw
        <%= @match.home_goals %>
        /
        <%= @match.away_goals %>
    <% end %>
    <p>

    <% end %>

<div class = hometeam >
<p>
Playing for <%= link_to @match.home_team.name, @match.home_team  %> in a 4.4.2 formation
</p>
<ul>
<% @match.match_formations.select {|mf| mf.team_id==@match.home_team.id}.each do |hp| %>
<li><%= link_to "#{hp.position} #{hp.player.name} with #{hp.skill_index} skill index", hp.player %></li>
<% end %>
</ul>

</div>

<div class = awayteam >
<p>
Playing for <%= link_to @match.away_team.name, @match.away_team%> in a 4.4.2 formation
</p>

<ul>
<% @match.match_formations.select {|mf| mf.team_id==@match.away_team.id}.each do |hp| %>
<li><%= link_to "#{hp.position} #{hp.player.name} with #{hp.skill_index} skill index", hp.player %></li>
<% end %>
</ul>
</div>



<div class = statistics>
<p>
Statistics
</p>

<ul>

    <li> 
        <% if @match.get_skills( @match.home_team, "Goalkeeper") > @match.get_skills( @match.away_team, "Goalkeeper")  %>
            <%= @match.home_team.name %> 
        <% else %>
            <%= @match.away_team_name %>
        <% end %>
        has the more qualified goalkeeper
    </li>

    <li> 
        <% if @match.get_skills( @match.home_team, "Defender") > @match.get_skills( @match.away_team, "Defender")  %>
            <%= @match.home_team.name %> 
        <% else %>
            <%= @match.away_team_name %>
        <% end %>
        has the strongest defence
    </li>

   <li> 
        <% if @match.get_skills( @match.home_team, "Midfield") > @match.get_skills( @match.away_team, "Midfield")  %>
            <%= @match.home_team.name %> 
        <% else %>
            <%= @match.away_team_name %>
        <% end %>
        has the most capable midfield
    </li>


   <li> 
        <% if @match.get_skills( @match.home_team, "Striker") > @match.get_skills( @match.away_team, "Striker")  %>
            <%= @match.home_team.name %> 
        <% else %>
            <%= @match.away_team_name %>
        <% end %>
        is more likely to attack
    </li>

</div>
