<h2>
<%= @match.home_team.name %> X <%= @match.away_team.name %>
</h2>

<p>
Playing in the <%= link_to @match.competition.name, @match.competition %>
<% if @match.competition.knockout %>
Knockout Competition
<% else %>
League
<% end %>
</p>

<% if @match.match_formations.length==0 %>
<%= render "showmatch1" %>
<% else %>
<%= render "showmatch2" %>
<% end %>

