<h2> Add Players to <%= @team.name %> ⚽️</h2>

Find by position:
<button type="button" class="btn btn-outline-success"><%= link_to "Goalkeeper", new_squad_path(team_id:@team.id, position:"Goalkeeper" ) %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Defender", new_squad_path(team_id:@team.id, position:"Defender" ) %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Midfielder", new_squad_path(team_id:@team.id, position:"Midfield" ) %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Striker", new_squad_path(team_id:@team.id, position:"Striker" ) %></button>

<br>
<br>

<%= form_tag("/squads", method: "POST") %>
<%= hidden_field_tag "team_id", @team.id %>
<%= submit_tag "Add selected players", :class=>"button" %>

<br>
<br>
<div class="players_index2">
<% @available_players.each do |player| %>
  <p>
    <%= player.name %>
    - Skills:
    <%= player.goalkeeper_skill%>/
    <%= player.defender_skill%>/
    <%= player.midfielder_skill%>/
    <%= player.striker_skill%>
    <%= check_box_tag 'player_ids[]', player.id %>
  </p>
<% end %>
</div>