<!DOCTYPE html>
<html>
  <head>
    <title>EasyPitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if logged_in?  %>
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="<%= home_page_path %>">Home</a>
            <a class="nav-item nav-link" href="<%= players_path %>">Players</a>
            <a class="nav-item nav-link" href="<%= teams_path %>">Teams</a>
            <a class="nav-item nav-link" href="<%= competitions_path %>">Competitions</a>
          </div>
        </div>
      </nav>
      <div class="logout">
          Hello, <%= current_user.username %>!
          <button type="button" class="btn btn-success"><%= link_to "Logout", sessions_path, method: :delete %></button>
      </div>
  <% else %>
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="<%= home_page_path %>">Home</a>
            <a class="nav-item nav-link" href="<%= players_path %>">Players</a>
            <a class="nav-item nav-link" href="<%= teams_path %>">Teams</a>
            <a class="nav-item nav-link" href="<%= competitions_path %>">Competitions</a>
            <a class="nav-item nav-link" href="<%= login_path %>">Login</a>
            <a class="nav-item nav-link" href="<%= new_user_path %>">Create an Account</a>
          </div>
        </div>
      </nav>
  <% end %>

  <div class="m-1">
    <h1>⚽EasyPitch⚽</h1>
  </div>
  <div class="m-3">
    <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <p style="color: red"><%= error %></p> <% end %>
        <% end %>
      <%= yield %>
    
    <p class="copyright">&copy; 2019 FlatIron School London 042219 - Marco Miranda, Marcus Mellor & Miao Shan<p>
  </div>
  </body>
</html>
