<!DOCTYPE html>
<html>
  <head>
    <title>FootballApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1 class="logo">EasyPitch ⚽️</h1>

  <button type="button" class="btn btn-light"><%= link_to "Home", home_page_path, :class=>"text-success" %></button>
  <button type="button" class="btn btn-light"><%= link_to "Players", players_path, :class=>"text-success" %></button>
  <button type="button" class="btn btn-light"><%= link_to "Teams", teams_path, :class=>"text-success" %></button>
  <button type="button" class="btn btn-light"><%= link_to "Competitions", competitions_path, :class=>"text-success" %></button>


  <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p style="color: red"><%= error %></p> <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
